@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KILLIN' IT MATH FACTS</h1>
    <p class="card">Let's kill* your math facts!</p>
    <p> *kill: to demonstrate an excellent performance. <i> ex: Man, her dance recital...</i> She <i>killed </i> it!! </p>
    <p><a href="~/Home/TestLand" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Give it a try!</h2>
        <p>
            It's a fun way to learn math facts!!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Sign up!</h2>
        <p>Get started on the road to knowing your stuff.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    Here's a list of all the SignUps!  
</div>

